<footer class="site-footer" {{ if .Page.IsHome }}style="margin: 0 !important"{{end}}>
  <div class="my-footer">
    <div class="my-footer-image">
      <a href="/">
        <img src="/img/footer.png">
      </a>
    </div>
    <dl class="my-footer-dl">
      <dt class="my-footer-dt">
        <a href="/">
          <div class="my-footer-text">Random</div>
        </a>
      </dt>
      <dd class="my-footer-dd">
        <a href="/about/">
          <div class="my-footer-text">Randomについて</div>
        </a>
      </dd>
      <dd class="my-footer-dd">
        <a href="/license/">
          <div class="my-footer-text">ライセンス</div>
        </a>
      </dd>
      <dd class="my-footer-dd">
        <a href="/#contact">
          <div class="my-footer-text">お問い合わせ</div>
        </a>
      </dd>
    </dl>
    <dl class="my-footer-dl">
      <dt class="my-footer-dt">
        <a href="/tags/作品紹介/">
          <div class="my-footer-text">作品紹介</div>
        </a>
      </dt>
      <dd class="my-footer-dd">
        <a href="/tags/ゲーム/">
          <div class="my-footer-text">ゲーム</div>
        </a>
      </dd>
      <dd class="my-footer-dd">
        <a href="/tags/音楽/">
          <div class="my-footer-text">音楽</div>
        </a>
      </dd>
      <dd class="my-footer-dd">
        <a href="/tags/グラフィック">
          <div class="my-footer-text">グラフィック</div>
        </a>
      </dd>
    </dl>
    <dl class="my-footer-dl">
      <dt class="my-footer-dt">

          <a href="/post/">
            <div class="my-footer-text">ブログ</div>
          </a>
      </dt>
      <dd class="my-footer-dd">
        <a href="/tags/競技プログラミング/">
          <div class="my-footer-text">競技プログラミング</div>
        </a>
      </dd>
      <dd class="my-footer-dd">
        <a href="/tags/ゲーム制作/">
          <div class="my-footer-text">ゲーム制作</div>
        </a>
      </dd>
      <dd class="my-footer-dd">
        <a href="/tags/dtm/">
          <div class="my-footer-text">DTM</div>
        </a>
      </dd>
      <dd class="my-footer-dd">
        <a href="/tags/">
          <div class="my-footer-text">タグ一覧</div>
        </a>
      </dd>
    </dl>
  </div>
  <div class="my-copyright">
    <center>
      <small>
        Copyright &copy; 2020 Computer House Random
      </small>
    </center>
  </div>
</footer>
